:root {


  --pink: hsl(338, 72%, 69%);
  --light: hsl(21, 100%, 68%);
  --scarlet: hsl(348, 82%, 56%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  --ff-lato: 'Lato', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  --fs-1: 2rem;
  --fs-2: calc(1.813rem + 1vw);
  --fs-3: calc(1.313rem + 1vw);
  --fs-4: 1.4rem;
  --fs-5: 1rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;
  --fs-paragraph: 1.2rem; 
  
  --fw-400: 400;
  --fw-700: 700;


  --transition-1: 0.25s ease-in-out;


  --section-padding: 80px;


  --radius-4: 4px;
  --radius-12: 12px;

}




body.dark_theme {

  --bg-primary: hsl(0, 2%, 10%);
  --bg-secondary: hsl(0, 0%, 19%);
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 62%);
  --text-secondary: hsl(0, 4%, 77%);
  --card-shadow: hsla(0, 0%, 0%, 0.4);
  --input-bg: hsl(0, 0%, 16%);

  --shadow-1: 10px 10px 40px var(--card-shadow);

}

body.light_theme {

  --bg-primary: hsl(0, 60%, 98%);
  --bg-secondary: hsl(0, 0%, 100%);
  --color-primary: hsl(0, 0%, 12%);
  --color-secondary: hsl(0, 0%, 37%);
  --text-secondary: hsl(0, 0%, 37%);
  --card-shadow: hsla(0, 0%, 0%, 0.1);
  --input-bg: hsl(0, 0%, 93%);

  --shadow-1: 10px 10px 40px var(--card-shadow);

}



*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
time,
span,
input,
label,
select,
button,
textarea,
ion-icon { display: block; }

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button,
select { cursor: pointer; }

input,
textarea { width: 100%; }

ion-icon { pointer-events: none; }

:is(a, button, select) {
  outline-color: var(--scarlet);
  outline-offset: 3px;
}

::selection {
  background: var(--color-primary);
  color: var(--bg-primary);
}

html {
  font-family: var(--ff-roboto);
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  transition: var(--transition-1);
}

body.active { overflow: hidden; }




.container { padding-inline: 10px; }

.h1 {
  font-size: var(--fs-1);
  line-height: 1.2;
  font-weight: 400;
  font-weight: var(--fw-700);
}

.h2,
.h3,
.h4 {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.h4 { font-size: var(--fs-5); }

.w-100 { width: 100%; }

.btn {
  max-width: max-content;
  color: var(--color-primary);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: var(--radius-4);
  transition: var(--transition-1);
}

.btn-primary { border-color: var(--color-primary); }

.btn-primary:is(:hover, :focus) {
  background: var(--color-primary);
  color: var(--bg-primary);
}

.btn-secondary {
  background: var(--pink);
  border-color: var(--pink);
  color: var(--white);
}

.btn-secondary:is(:hover, :focus) { --pink: hsl(326, 91%, 40%); }

.section-subtitle {
  position: relative;
  color: var(--color-secondary);
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.section-subtitle::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 60px;
  height: 2px;
  background: var(--color-secondary);
}

.section-title {

  margin-bottom: 30px;
}

.section-text {
  color: var(--text-secondary);
  line-height: 1.8;
  margin-bottom: 30px;
  font-size: var(--fs-paragraph);
}

.tooltip {
  position: absolute;
  top: -40px;
  background: var(--pink);
  min-width: max-content;
  color: var(--white);
  font-size: 15px;
  font-weight: var(--fw-700);
  padding: 5px 10px;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-1);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;
}




.header {
  padding-block: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header.active {
  padding-block: 12px;
  background: var(--bg-secondary);
  box-shadow: var(--shadow-1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  position: relative;
  min-width: 77px;
  z-index: 2;
}

.logo a {
  color: var(--color-primary);
  font-family: var(--ff-lato);
}

.logo span {
  display: inline-block;
  color: var(--pink);
  margin-left: 2px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.navbar-actions select {
  color: var(--color-primary);
  width: 45px;
}

.navbar-actions option {
  background: var(--bg-primary);
  color: var(--color-primary);
}

.theme-btn {
  padding: 4px;
  width: 48px;
  background: var(--bg-secondary);
  border-radius: 100px;
  transition: var(--transition-1);
}

.header.active .theme-btn { background: var(--bg-primary); }

.theme-btn .icon {
  position: relative;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  box-shadow: inset 9px -6px var(--color-primary);
  transition: var(--transition-1);
}

.theme-btn.active .icon {
  left: 20px;
  box-shadow: inset 20px -20px var(--light);
}

.navbar {
  position: fixed;
  background: var(--bg-secondary);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: 0.75s cubic-bezier(0.71, 0.01, 0.24, 0.99);
  transition-delay: 0.5s;
  z-index: 1;
}

.navbar.active {
  top: 0;
  visibility: visible;
  transition-delay: 0s;
}

.navbar-list > li {
  margin-block: 20px;
  padding-inline: 50px;
  overflow: hidden;
}

.navbar-link {
  position: relative;
  width: max-content;
  margin-inline: auto;
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  font-size: var(--fs-1);
  padding: 10px;
  transform: translateY(50px);
  transition: 0.75s cubic-bezier(0.68, -0.55, 0.27, 2);
}

.navbar.active .navbar-link {
  transform: translateY(0);
  transition-delay: 0.5s;
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  left: 0;
  height: 5px;
  width: 0;
  background: var(--pink);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus)::before { width: 100%; }




main { overflow-x: hidden; }


.about { padding-block: var(--section-padding); margin-top: 5px; }


.about .btn {
  max-width: 400px;
  margin-inline: auto;
  width: 100%;
}

.about .btn-secondary { margin-bottom: 10px; }

.about-banner {
  max-width: 400px;
  margin-inline: auto;
  margin-bottom: 80px;
}



.skills { padding-block: var(--section-padding); }

.skills-content { margin-bottom: 50px; }

.skills-toggle {
  background: var(--bg-secondary);
  position: relative;
  width: max-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 100px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.skills-toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: 93px;
  background: var(--pink);
  border-radius: 100px;
  transition: var(--transition-1);
  z-index: -1;
}

.skills-toggle.active::before {
  left: 98px;
  width: 94px;
}

.toggle-btn {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  padding: 5px 25px;
  transition: var(--transition-1);
}

.toggle-btn.active { color: var(--white); }

.skills-box.active .skills-list,
.skills-box .tools-list { display: none; }

.skills-box .skills-list,
.skills-box.active .tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {

  0% { opacity: 0; }
  100% { opacity: 1; }

}

.skill-card {
  position: relative;
  background: var(--bg-secondary);
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
  cursor: help;
}

.skill-card:hover .tooltip {
  transform: translateY(0);
  opacity: 1;
}



.project { padding-block: var(--section-padding); }

.project-list > li { margin-bottom: 25px; }
.project-list-detail > li { margin-bottom: 25px; }

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-12);
  box-shadow: 2px 4px 6px hsla(0, 0%, 0%, 0.2);
}

.project-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: var(--transition-1);
}

.project-card:is(:hover, :focus)::after {
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(0.5px);
}

.project-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  
}

.project-card .card-title { margin-bottom: 10px; }

.project-card :is(.card-title,) {
  background: var(--bg-primary);
  padding: 6px 12px;
  width: max-content;
  box-shadow: var(--shadow-1);
  transform: translateY(20px);
  opacity: 0;
  transition: var(--transition-1);
}


.project-card:is(:hover, :focus) :is(.card-title) {
  transform: translateY(0);
  opacity: 1;
}



.video-card {
  border-radius: 12px;
  overflow: hidden;


}



.stats { padding-block: var(--section-padding); }
.stats-list {
  display: grid;
  gap: 30px;
}
.stats-card {
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
}
.stats-card:is(:hover, :focus) { transform: translateY(-5px); }
.stats-card .card-icon {

  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.stats-card .card-icon img {
  width: 70%;

}
.stats-card .card-title {
  width: calc(100% - 95px);
  color: var(--pink);
  text-align: center;
}
.stats-card .card-title strong {
  display: block;
  color: var(--color-primary);
  font-size: initial;
  line-height: 1.3;
  margin-top: 5px;
}
.stats-card > ion-icon { color: var(--color-secondary); }




.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.image-modal img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}



.contact { padding-block: var(--section-padding); }

.contact-content { margin-bottom: 50px; gap: 20;}


.contact-list-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-item-icon {
  font-size: 25px;
  color: var(--color-primary);
}

.contact-item-icon ion-icon { --ionicon-stroke-width: 40px; }

.contact-item-title { margin-bottom: 10px; }

.contact-list-item .contact-info {
  color: var(--color-primary);
  font-style: normal;
  line-height: 1.6;
  transition: var(--transition-1);
}

.contact-info:not(address):is(:hover, :focus) { color: var(--color-primary); }


.footer {
  background: var(--bg-secondary);
  padding-block: 20px;
  text-align: center;
  box-shadow: var(--shadow-1);
}

.footer .logo { margin-bottom: 15px; }

.copyright {
  color: var(--color-secondary);
  line-height: 1.6;
}

.copyright a {
  display: inline-block;
  color: var(--pink);
}



.go-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: var(--transition-1);
  z-index: 2;
}

.go-top.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}





@media (min-width: 550px) {


  .container {
    max-width: 550px;
    margin-inline: auto;
  }


  .project-list-detail { column-count: 2; column-gap: 25px;}
  
  .project-list-detail > li:first-child { column-span: all; }


  .project-list {
    column-count: 2;
    column-gap: 25px;
  }

  .project-list > li:first-child { column-span: all; }

   .video-card {
    width: 512px; 
    height: 288px; 
  }

}


@media (min-width: 768px) {


  .container { max-width: 720px; }


  .stats-list { grid-template-columns: 1fr 1fr; }
  .btn-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .about .btn {  max-width: unset;
    width: 100%;
   }

  .about .btn-secondary { margin-bottom: 0; }


  .video-card {
    width: 640px; 
    height: 360px; 
  }
}




@media (min-width: 992px) {



  :root {


    --fs-2: 3rem;

    --section-padding: 100px;

  }

  .project-list-detail { column-count: 3; }

  .project-list-detail > li:first-child {
    column-span: unset;
    margin: 25px;
    margin-left: 0;
  }


  .container { max-width: 980px; }

  .section-content {
    position: relative;
    padding-left: 40px;
  }

  .section-subtitle {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0.75turn) translateX(-100%);
    transform-origin: left top;
    margin-bottom: 0;
  }

  .section-subtitle::after {
    top: 8px;
    left: auto;
    right: calc(100% + 20px);
  }



  .header { padding-block: 30px; }

  .header.active { padding-block: 15px; }

  .navbar-actions {
    order: 1;
    margin-left: 0;
  }

  .nav-toggle-btn { display: none; }

  .navbar { all: unset; }

  .navbar-link {
    transform: translateY(0);
    font-size: unset;
    padding-inline: 5px;
  }

  .navbar-list > li {
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .navbar-link::before { height: 2px; }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .about-banner { margin-bottom: 0; }


  .scroll-down {
    display: block;
    position: absolute;
    bottom: 80px;
    right: -30px;
    color: var(--color-secondary);
    font-size: 1.125rem;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: top right;
  }

  .scroll-down::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -50px;
    width: 30px;
    height: 2px;
    background: var(--color-secondary);
  }

  .stats-list { grid-template-columns: repeat(2, 1fr); }
  .stats-card { height: 100%; }



  .about {


    align-items: center;
    gap: 30px;
  }


  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }

  .skills-content { margin-bottom: 0; }

  .skills-toggle { margin-inline: 0; }



  .project-list { column-count: 2; }

  .project-list > li:first-child {
    column-span: unset;
    margin: 25px;
    margin-left: 0;
  }



  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .contact-content { grid-column: 1 / -1;}


  .contact-list {  display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}




  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer .logo { margin-bottom: 0; }

}





@media (min-width: 1200px) {


  .container { max-width: 1150px; }




  .scroll-down { right: -80px; }

  .about-banner { max-width: 450px; }
  .video-card {
    width: 740px;
    height: 415px;
  }


}